
@import url('https://fonts.googleapis.com/css2? family= Tiro+Telugu & display=swap'); /*font: 'Tiro Telugu', serif;*/
/*contenido*/
@import url('https://fonts.googleapis.com/css2? familia= Exo:peso@200 &family= Tiro+Telugu & display=swap'); /* font: 'Exo', sans-serif;  */
/*contenido*/
@import url('https://fonts.googleapis.com/css2? family= Lato:wght@100 & display=swap');/*font: 'Lato', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*section nav-----------------------------------------------*/

.nav{
    width: 100%;
    height: 200px;
    background: linear-gradient(to right, #6ebfc9ff,  #7cd0d0ff);
  
}

.nav ul{
    font-size: 19px;
    font-family: 'Tiro Telugu', serif;
}

#color_letra_nav{
 color: black
}

li:hover{
    color: crimson;
}

a:hover{
    font-size: 20px;
}


.fondo_nav{
    width: 95%;
    height: 80%;
    padding: 20px;
    margin: 20px auto;
    position: relative;
    background: #b2d6efff;
    border-radius: 20px;
    box-shadow: 12px 8px 32px 10px rgba(179, 224, 224, 0.37);
    backdrop-filter: blur(6px);
    border: 2px solid rgba(10, 66, 116, 0.18);
  
}

/*section contenido-----------------------------------------------*/
.contenido{
    width: 100%;
    height: 800px;
    background: linear-gradient(to right, #6ebfc9ff,  #7cd0d0ff);
  
}









/*footer----------------------------------------------------------*/
.footer{
    width: 100%;
    height: 160px;
    background: #b2d6efff;
  
}
.justificar{
    font-size: 17px;
    font-family: 'Exo', sans-serif;
}
