@media screen and (min-width:480px) and (max-width:780px) and (orientation:portrait){



    .nav{
        height: 500px;
        
    }
   
    .bg_section{
        height: 2300px;
    }
    .footer{
        height: 200px;
       }
       .responsive_footer{
        text-align: center;
       }
    .contenidos{
        height: 300px;
    }
    .font_title{
        font-size: 45px;
        font-weight: bolder;
        text-align: center;
    }
    .content{
        width: 80%;
        
        border-radius: 40px;
       
    }
   
}